html {
    background-color: #124;
    color: white;
}

/* Body, fonts, and links */
body {
    /* Background */
    background-color: #124;
    color: white;
    
    /* Fonts */
    font-family: Arial;
    font-size: 12pt;
}

a:link {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #333;
    text-decoration: underline;
}

a:visited {
    color: #333;
    text-decoration: none;
}

/* Headings */
h1 {
    color: white;
    font-size: 28pt;
    margin: 0;
    padding: 0;
}

h2 {
    color: white;
    font-size: 22pt;
    margin: 0;
    padding: 0;
}

h3 {
    color: white;
    font-size: 18pt;
    margin: 0;
    padding: 0;
}

h4 {
    color: white;
    font-size: 16pt;
    margin: 0;
    padding: 0;
}

/* Navigation */
#nav {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
	height: 30px;

	color: white;
	font-size: 12pt;
	text-align: left;
}



#nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;

	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);

	box-shadow: 0 0 30px black;
}

#nav ul li {
	float: left;
}

#nav ul li a {
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
	padding: 25px;
	transition: all 0.3s ease;
}

#nav ul li a:hover {
	background-color: #111;
	color: white;
	border-radius: 10px;
}

/* Hero - The most important part */
#hero {
	width: 100%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#hero h1 {
	font-size: 4em;
	margin-bottom: 0;
    color: white;
}

#hero p {
	font-size: 1.2em;
	margin-top: 10px;
	margin-bottom: 20px;
}

/* Blog Post and Content Sections */
#content {
    position: absolute;
    top: 100px;
    width: 800px;
    margin-bottom: 20px;
}